<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 " style="background: lightyellow; margin-top: 70px">
      <h1 style="color: indigo">
        &nbsp; Welcome to Student Registration!
      </h1>

      <br>
      <h4><a style="margin-left:25px" routerLink="/users"> List Students</a>
        <a style="margin-left:10px" routerLink="/add">&nbsp;Add Student</a></h4>
      <br />
      <router-outlet></router-outlet>
    </div>
  </div>
</div>